<!DOCTYPE html>
<html lang="tr">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="admin, dashboard">
    <meta name="author" content="DexignZone">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="İK PROJE">
    <meta property="og:title" content="İK PROJE">
    <meta property="og:description" content=" İK PROJE">
    <meta property="og:image" content="">
    <meta name="format-detection" content="telephone=no">

    <!-- PAGE TITLE HERE -->
    <title>IK PROJE</title>

    @await RenderSectionAsync("Styles", required: false)
    <!-- Style css -->
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/signUpstyle.css" rel="stylesheet" />
    <!-- FAVICONS ICON -->
    <link rel="shortcut icon" type="image/png" href="~/images/logo-full-logo.png">

    <link href="~/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/vendor/nouislider/nouislider.min.css">
    <link rel="stylesheet" href="~/vendor/select2/css/select2.min.css">
    <link href="~/vendor/jquery-nice-select/css/nice-select.css" rel="stylesheet">
    <link rel="stylesheet" href="~/vendor/pickadate/themes/default.css">
    <link rel="stylesheet" href="~/vendor/pickadate/themes/default.date.css">
    <link href="../icon?family=Material+Icons" rel="stylesheet">
    <!-- Daterange picker -->
    <link href="~/vendor/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- Clockpicker -->
    <link href="~/vendor/clockpicker/css/bootstrap-clockpicker.min.css" rel="stylesheet">
    <!-- asColorpicker -->
    <link href="~/vendor/jquery-asColorPicker/css/asColorPicker.min.css" rel="stylesheet">
    <!-- Material color picker -->
    <link href="~/vendor/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">

    <!-- Pick date -->
    <link rel="stylesheet" href="~/vendor/pickadate/themes/default.css">
    <link rel="stylesheet" href="~/vendor/pickadate/themes/default.date.css">
    <link href="../icon?family=Material+Icons" rel="stylesheet">
    <!-- Custom Stylesheet -->
    <link href="~/vendor/lightgallery/css/lightgallery.min.css" rel="stylesheet">
    <link href="~/css/lightgallery.css" rel="stylesheet">

    <link href="~/vendor/jquery-nice-select/css/nice-select.css" rel="stylesheet">
    @*<link href="~/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">*@
    <link href="~/sweetalert2/sweetalert2.min.css" rel="stylesheet">
    <!-- Alertify js -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />

    <link href="~/vendor/jquery-nice-select/css/nice-select.css" rel="stylesheet">
    <link rel="stylesheet" href="~/vendor/nouislider/nouislider.min.css">
   
    <style>
        @@keyframes slide {
            0%, 100% {
                transform: translateX(0);
            }

            50% {
                transform: translateX(15px);
            }
        }

        .animated-text {
            display: inline-block;
            animation: slide 2s ease-in-out infinite;
        }

        .dlabnav a, .dlabnav span {
            color: black !important;
        }

        .dlabnav li #span1:hover {
            color: black !important;
        }


        .hamburger .line {
            background-color: whitesmoke !important;
        }

        [data-sidebar-style="full"][data-layout="vertical"] .dlabnav .metismenu > li .has-arrow:after {
            right: 1rem;
        }
    </style>


</head>
<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="waviy">
            <span style="--i:1">L</span>
            <span style="--i:2">o</span>
            <span style="--i:3">a</span>
            <span style="--i:4">d</span>
            <span style="--i:5">i</span>
            <span style="--i:6">n</span>
            <span style="--i:7">g</span>
            <span style="--i:8">.</span>
            <span style="--i:9">.</span>
            <span style="--i:10">.</span>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->
    <!--**********************************
        Main wrapper start
    ***********************************-->

    
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
      
        <div class="nav-header" style="background-color:#8ACDD7">

            
            <a asp-area="Yönetici" asp-controller="Home" asp-action="Index" class="brand-logo">
                <img src="~/images/logo-full.png" alt="" width="110">
            </a>
            <div class="nav-control" style="background-color:#8ACDD7">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>

        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                            <div class="dashboard_bar">
                                @ViewData["title"]
                            </div>
                        </div>
                      @*  <ul class="navbar-nav header-right">

                            <li class="nav-item dropdown notification_dropdown">
                                <a class="nav-link  ai-icon" href="javascript:void(0);" role="button" data-bs-toggle="dropdown">
                                    <svg width="28" height="28" viewbox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.638 4.9936V2.3C12.638 1.5824 13.2484 1 14.0006 1C14.7513 1 15.3631 1.5824 15.3631 2.3V4.9936C17.3879 5.2718 19.2805 6.1688 20.7438 7.565C22.5329 9.2719 23.5384 11.5872 23.5384 14V18.8932L24.6408 20.9966C25.1681 22.0041 25.1122 23.2001 24.4909 24.1582C23.8709 25.1163 22.774 25.7 21.5941 25.7H15.3631C15.3631 26.4176 14.7513 27 14.0006 27C13.2484 27 12.638 26.4176 12.638 25.7H6.40705C5.22571 25.7 4.12888 25.1163 3.50892 24.1582C2.88759 23.2001 2.83172 22.0041 3.36039 20.9966L4.46268 18.8932V14C4.46268 11.5872 5.46691 9.2719 7.25594 7.565C8.72068 6.1688 10.6119 5.2718 12.638 4.9936ZM14.0006 7.5C12.1924 7.5 10.4607 8.1851 9.18259 9.4045C7.90452 10.6226 7.18779 12.2762 7.18779 14V19.2C7.18779 19.4015 7.13739 19.6004 7.04337 19.7811C7.04337 19.7811 6.43703 20.9381 5.79662 22.1588C5.69171 22.3603 5.70261 22.6008 5.82661 22.7919C5.9506 22.983 6.16996 23.1 6.40705 23.1H21.5941C21.8298 23.1 22.0492 22.983 22.1732 22.7919C22.2972 22.6008 22.3081 22.3603 22.2031 22.1588C21.5627 20.9381 20.9564 19.7811 20.9564 19.7811C20.8624 19.6004 20.8133 19.4015 20.8133 19.2V14C20.8133 12.2762 20.0953 10.6226 18.8172 9.4045C17.5391 8.1851 15.8073 7.5 14.0006 7.5Z" fill="#4f7086"></path>
                                    </svg>
                                    <span class="badge light text-white bg-primary rounded-circle">0</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <div id="dlab_W_Notification1" class="widget-media dlab-scroll p-3" style="height:380px;">
                                    </div>
                                    <a class="all-notification" href="javascript:void(0);">See all notifications <i class="ti-arrow-end"></i></a>
                                </div>
                            </li>

                        </ul>*@
                    </div>
                </nav>
            </div>
        </div>



        <div class="dlabnav" style="background-color:#8ACDD7">
                <div class="dlabnav-scroll">
                    <ul class="metismenu" id="menu">



                        <li class="dropdown header-profile">
                            <a class="nav-link" href="javascript:void(0);" role="button" data-bs-toggle="dropdown">
                                 @if (User.Identity.IsAuthenticated)
                            {
                                @await Component.InvokeAsync("PersonelInformationController")
                            }
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a href="#" class="dropdown-item ai-icon">
                                    <svg id="icon-user1" xmlns="http://www.w3.org/2000/svg" class="text-primary" width="18" height="18" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                    <span class="ms-2">Profile </span>
                                </a>
                                <a href="#" class="dropdown-item ai-icon">
                                    <svg id="icon-inbox" xmlns="http://www.w3.org/2000/svg" class="text-success" width="18" height="18" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
                                    <span class="ms-2">Inbox </span>
                                </a>
                            <a asp-action="LogOut" asp-controller="Member" asp-area="" class="dropdown-item ai-icon">
                                    <svg id="icon-logout" xmlns="http://www.w3.org/2000/svg" class="text-danger" width="18" height="18" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
                                    <span class="ms-2">Logout </span>
                                </a>
                            </div>
                        </li>



                        <li style="text-align:center;">

        <div class="alert alert-primary" role="alert">
            <span id="span1" style="color:black!important;" class="animated-text">Yönetici Paneline Hoşgeldiniz!!!</span>
        </div>

    </li>


                        <li>

                        <a asp-area="Yönetici" asp-controller="Home" asp-action="Index" class="ai-icon" aria-expanded="false">
                                <i class="flaticon-025-dashboard"></i>
                                <span class="nav-text">Anasayfa</span>
                            </a>
                        </li>


                        <li>
                    <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                      
                        <span class="nav-text" style="display:block;text-align:center;"><i class="flaticon-086-star"></i> Personel Kayıt İşlemleri</span>
                    </a>
                    <ul aria-expanded="false" class="mm-collapse">


                    <li><a asp-area="Yönetici" asp-controller="Home" asp-action="SignUp">Personel Kayıt İşlemleri</a></li>
                    
                   </ul>
                    </li>


                        <li>
                            <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                            <i class="fa fa-briefcase"></i>
                                <span class="nav-text">Meslek İşlemleri</span>
                            </a>
                            <ul aria-expanded="false" class="mm-collapse">
                                <li><a asp-area="Yönetici" asp-controller="Vocation" asp-action="Index">Meslek Listele</a></li>
                            <li><a asp-area="Yönetici" asp-controller="Vocation" asp-action="VocationCreate">Meslek Ekle</a></li>
                            </ul>
                        </li>

                          <li>
                            <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">

                            <span style="display:inline-block;text-align:center;" class="nav-text">  <i class="fas fa-building"></i> Departmant İşlemleri</span>
                            </a>
                            <ul aria-expanded="false" class="mm-collapse">
                            <li><a asp-area="Yönetici" asp-controller="Department" asp-action="Index">Departmant Listele</a></li>
                            <li><a asp-area="Yönetici" asp-controller="Department" asp-action="DepartmentCreate">Departmant Ekle</a></li>
                            </ul>
                        </li>



@*
                        <li>
                            <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                                <i class="flaticon-072-printer"></i>
                                <span class="nav-text">Diğerİşlemler</span>
                            </a>
                            <ul aria-expanded="false" class="mm-collapse" style="">


                                <li><a href="#">Diğer İşlemler1</a></li>



                                <li><a href="#">Diğer İşlemler2</a></li>
                                <li><a href="#">Diğer İşlemler3</a></li>
                                <li><a href="#">Diğer İşlemler4</a></li>
                                <li><a href="#">Diğer İşlemler5</a></li>

                            </ul>
                        </li>*@



                        <li>
                            <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                            <i class="fas fa-key"></i>
                                <span class="nav-text">İzin Türü </span>
                            </a>
                            <ul aria-expanded="false" class="mm-collapse" style="">
                                <li><a asp-area="Yönetici" asp-controller="TypeofPermission" asp-action="Index">İzin Türü Listeleri</a></li>
                            <li><a asp-area="Yönetici" asp-controller="TypeofPermission" asp-action="TypeofPermissionCreate">İzin Türü Ekle</a></li>
                            </ul>
                        </li>

                    <li>
                        <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                            <i class="fas fa-check"></i>

                            <span class="nav-text">Onaylar </span>
                        </a>
                        <ul aria-expanded="false" class="mm-collapse" style="">
                            <li><a asp-area="Yönetici" asp-controller="Approval" asp-action="AdvanceApprovalList">Avans Listeleri</a></li>
                            
                        </ul>

                          <ul aria-expanded="false" class="mm-collapse" style="">
                            <li><a asp-area="Yönetici" asp-controller="Approval" asp-action="PermissionApprovalList">İzin Listeleri</a></li>
                            
                        </ul>

                        <ul aria-expanded="false" class="mm-collapse" style="">
                            <li><a asp-area="Yönetici" asp-controller="Approval" asp-action="ExpensesApprovalList">Harcama Listeleri</a></li>

                        </ul>
                    </li>



                    <li>
                        <a asp-controller="Home" asp-action="Index" asp-area="" class="ai-icon" aria-expanded="false">
                            <i class="flaticon-025-dashboard"></i>
                            <span class="nav-text">Personel Sayfasına Gidiniz</span>
                        </a>
                    </li>

                    <li>
                        <a asp-area="" asp-controller="Member" asp-action="Logout" class="ai-icon" aria-expanded="false">
                            <i class="flaticon-025-dashboard"></i>
                            <span class="nav-text">Çıkış</span>
                        </a>
                    </li>


                   



                        <li>
                            @*<a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                        <i class="bi bi-telephone-plus"></i>
                        <span class="nav-text">Rehber İşlemleri</span>
                        </a>
                        <ul aria-expanded="false" class="mm-collapse" style="">
                        <li><a href="#">Kişiler</a></li>
                        <li><a href="#"</a></li>
                        <li><a href="#">Rehber İstatikleri</a></li>
                        </ul>*@
                        </li>


                    </ul>
                </div>
            </div>

            <div class="content-body">
                <!-- row -->
                @RenderBody()

                <!--**********************************
                    Footer start
                ***********************************-->
                <div class="footer">
                </div>
                <!--**********************************
                    Footer end
                ***********************************-->
            </div>
        

        <!--**********************************
            Sidebar end
        ***********************************-->

    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->
    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="~/vendor/chart.js/Chart.bundle.min.js"></script>
    <script src="~/vendor/global/global.min.js"></script>

    <script src="~/sweetalert2/sweetalert2.all.min.js"></script>
    <script src="~/sweetalert2/sweetalert2.min.js"></script>

    @*<script src="~/vendor/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="~/js/plugins-init/sweetalert.init.js"></script>*@

    <script src="~/vendor/jquery-nice-select/js/jquery.nice-select.min.js"></script>
    <script src="~/js/dashboard/dashboard-1.js"></script>
    <script src="~/js/custom.min.js"></script>
    <script src="~/js/dlabnav-init.js"></script>
    <script src="~/js/demo.js"></script>
    <script src="~/js/styleSwitcher.js"></script>

    <!-- Apex Chart -->
    <script src="~/vendor/apexchart/apexchart.js"></script>
    <script src="~/vendor/nouislider/nouislider.min.js"></script>
    <script src="~/vendor/wnumb/wNumb.js"></script>

    <!-- Datatable -->
    <script src="~/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/js/plugins-init/datatables.init.js"></script>
    <!-- DataTables Buttons plugin and its dependencies -->
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.colVis.min.js"></script>


    <!-- Dashboard 1 -->
    <script src="~/vendor/select2/js/select2.full.min.js"></script>
    <script src="~/js/plugins-init/select2-init.js"></script>

    <script src="~/vendor/pickadate/picker.js"></script>
    <script src="~/vendor/pickadate/picker.time.js"></script>
    <script src="~/vendor/pickadate/picker.date.js"></script>

    <script src="~/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="~/vendor/chart.js/Chart.bundle.min.js"></script>
    <!-- Apex Chart -->
    <script src="~/vendor/apexchart/apexchart.js"></script>

    <!-- momment js is must -->
    <script src="~/vendor/moment/moment.min.js"></script>
    <script src="~/vendor/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- clockpicker -->
    <script src="~/vendor/clockpicker/js/bootstrap-clockpicker.min.js"></script>
    <!-- asColorPicker -->
    <!-- Material color picker -->
    <script src="~/vendor/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <!-- pickdate -->
    <!-- Daterangepicker -->
    <script src="~/js/plugins-init/bs-daterange-picker-init.js"></script>
    <!-- Clockpicker init -->
    <script src="~/js/plugins-init/clock-picker-init.js"></script>
    <!-- asColorPicker init -->
    <script src="~/js/plugins-init/jquery-asColorPicker.init.js"></script>
    <!-- Material color picker init -->
    <script src="~/js/plugins-init/material-date-picker-init.js"></script>
    <!-- Pickdate -->
    <script src="~/js/plugins-init/pickadate-init.js"></script>

    <!-- alertify -->
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)



    <!-- Required vendors -->
    <script src="~/vendor/lightgallery/js/picturefill.min.js"></script>
    <script src="~/vendor/lightgallery/js/lightgallery.js"></script>
    <script src="~/vendor/lightgallery/js/lightgallery.min.js"></script>
    <script src="~/vendor/lightgallery/js/lightgallery-all.min.js"></script>
    <script src="~/vendor/lightgallery/js/lg-pager.js"></script>
    <script src="~/vendor/lightgallery/js/lg-autoplay.js"></script>
    <script src="~/vendor/lightgallery/js/lg-fullscreen.js"></script>
    <script src="~/vendor/lightgallery/js/lg-zoom.js"></script>
    <script src="~/vendor/lightgallery/js/lg-hash.js"></script>
    <script src="~/vendor/lightgallery/js/lg-share.js"></script>

    @* <script>
    var elements = document.getElementsByClassName('sorting_1');
    for (let item of elements)
    lightGallery(item,
    share: false
    )

    </script> *@

</body>
</html>
