


@model TypeofPermissionCreateCommand







<style>

    .input-group {
        margin-top: 20px;
    }
</style>


    
<div class="col-xl-6 col-lg-6">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">İzin Türü Ekle</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <form asp-controller="TypeofPermission" asp-action="TypeofPermissionCreate" method="post">
                    <div class="input-group input-warning-o">
                        <span class="input-group-text">İzin Türü Adı</span>
                        <input class="form-control" asp-for="Name" placeholder="İzin Türü Adı"  />
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>

                     <div class="input-group input-warning-o">
                        <span class="input-group-text">İzin Türü Süresi</span>
                        <input class="form-control" asp-for="Duration" placeholder="İzin Türü Süresi"  />
                        <span class="text-danger" asp-validation-for="Duration"></span>
                    </div>
                    <div class="input-group input-warning-o">
                        <span class="col-sm-4 input-group-text" asp-for="Gender">Cinsiyet</span>
                        <div class="col-sm-8">
                            <select class="default-select  form-control wide" asp-for="Gender">
                                <option value="">Cinsiyet Seçiniz</option>
                                @foreach (var item in ViewBag.Gender )
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }


                            </select>
                            <span class="text-danger" asp-validation-for="Gender"></span>
                        </div>
                    </div>

                    <div class="col-12" style="margin-top: 10px">
                        <button type="submit" class="btn btn-primary mb-2">Ekle</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    
